.nav-container{
    width: 100%;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    gap: 30px;
    align-items:center ;
    position: absolute;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    width: 100px;
    height: auto;
}